<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>ProjetEncheres</display-name>
  
    
  <welcome-file-list>
 	  <welcome-file>PageAccueil</welcome-file>  
  </welcome-file-list>
  
 
<servlet>
	<servlet-name>PageAccueil</servlet-name>
	<servlet-class>fr.eni.encheres.ServletPageAccueil</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>PageAccueil</servlet-name>
	<url-pattern></url-pattern>
</servlet-mapping>

  
<servlet>
	<servlet-name>Inscription</servlet-name>
	<servlet-class>fr.eni.encheres.ServletInscription</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Inscription</servlet-name>
	<url-pattern>/inscription</url-pattern>
</servlet-mapping>
 
<servlet>
	<servlet-name>Connexion</servlet-name>
	<servlet-class>fr.eni.encheres.Login</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Connexion</servlet-name>
	<url-pattern>/connexion</url-pattern>
</servlet-mapping>


<servlet>
	<servlet-name>Utilisateur</servlet-name>
	<servlet-class>fr.eni.encheres.ServletProfilUtilisateur</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Utilisateur</servlet-name>
	<url-pattern>/utilisateur</url-pattern>
</servlet-mapping>


<servlet>
	<servlet-name>Article</servlet-name>
	<servlet-class>fr.eni.encheres.ServletArticle</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Article</servlet-name>
	<url-pattern>/article</url-pattern>
</servlet-mapping>



<servlet>
	<servlet-name>Logout</servlet-name>
	<servlet-class>fr.eni.encheres.ServletLogout</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Logout</servlet-name>
	<url-pattern>/logout</url-pattern>
</servlet-mapping>

  
  

<servlet>
	<servlet-name>NouvelleVente</servlet-name>
	<servlet-class>fr.eni.encheres.ServletNouvelleVente</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>NouvelleVente</servlet-name>
	<url-pattern>/nouvelle-vente</url-pattern>
</servlet-mapping>
  
  
  
  
  
</web-app>