<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>ProjetEncheres</display-name>
  
    
  <welcome-file-list>
 	  <welcome-file>PageAccueil</welcome-file>  
  </welcome-file-list>
  
 
<servlet>
	<servlet-name>PageAccueil</servlet-name>
	<servlet-class>fr.eni.encheres.ServletPageAccueil</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>PageAccueil</servlet-name>
	<url-pattern></url-pattern>
</servlet-mapping>

  
<servlet>
	<servlet-name>Inscription</servlet-name>
	<servlet-class>fr.eni.encheres.ServletInscription</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Inscription</servlet-name>
	<url-pattern>/Inscription</url-pattern>
</servlet-mapping>
 
<servlet>
	<servlet-name>Connexion</servlet-name>
	<servlet-class>fr.eni.encheres.RegistrationServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Connexion</servlet-name>
	<url-pattern>/Connexion</url-pattern>
</servlet-mapping>
  
  
  
  
  
</web-app>